.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.m-0 {
    background-color:greenyellow ;
    text-decoration: underline;
}

.card-header {
    background-color:aqua ;
}

.card-body {
    background-color:beige ;
}

.btn-outline-primary {
    background-color:aqua ;
}

div .card-body {
    border-width: 3px;
    border-style: double;
    border-color: black;
  }


div .text-center {
    border-width: 3px;
    border-style:groove ;
    border-color: black;
    background-color:greenyellow ;
  }
div .btn {
    border-width: 2px;
    border-style:double ;
    border-color: black;
  }



#surnameOutput {
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

#secondNameOutput {
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}

#firstNameOutput {
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
}